<%= render "user", user: @user %>
<div class="bio">
  <h3>Bio<h3>
  <p><%= @user.bio %></p>
</div>
<ul>
  <% @recent_posts.each do |post| %>
    <li>
      <article>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter || 0 %></p>
        <p>Likes: <%= post.likes_counter || 0 %></p>
      </article>
    </li>
  <% end %>
</ul>
<button type="button" >See all posts<button>