<%= render "users/user", user: user = @user.find(params[:user_id]) %>
<div class="bio">
<h3>Bio<h3>
<p><%= user.bio %></p>
</div>
  <% @posts.each do |post| %>
    <li>
      <article>
        <h2><%= link_to(post.title, user_post_path(params[:user_id], post.id)) %></h2>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments_counter || 0 %></p>
        <p>Likes: <%= post.likes_counter || 0 %></p>
        <% comments = @comments.call(post) %>
        <% comments.each do |comment| %>
          <section>
            <p><span><%= @user.find(comment.author_id).name %>: </span><%= comment.text %></p>
            <% if can? :destroy, comment %>
              <%= button_to "Delete Comment", user_post_comment_path(params[:user_id],post.id,comment.id), method: :delete %>
            <% end %>
          </section>
        <% end %>
      </article>
    </li>
  <% end %>
  <%= render "form" %>
<%== pagy_nav(@pagy) %>